@font-face {
    font-family:Inter-Regular ;
    src: url(/assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family:Inter-SemiBold ;
    src: url(/assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: inter;
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  /* color: currentColor; */
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    background-color:hsl(0, 0%, 12%);
    max-width: 450px;
    max-height: 900px;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
img{
    border-radius: 50%;
    max-width: 30%;
    margin: 1rem auto;
}
h1{
    font-family:Inter-semiBold,Arial, Helvetica, sans-serif ;
    color: hsl(0, 0%, 100%) ;
    font-size: 20px;
}
p{
    font-family:Inter-Regular,Arial, Helvetica, sans-serif ;
    font-size: 14px;
    color: hsl(0, 0%, 100%) ;
    padding: 1rem;
}
.green{
    color: hsl(75, 94%, 57%);
    padding: 0.5rem 1rem 1rem 1rem;
    font-size: 12px;
    font-family:Inter-semibold,Arial, Helvetica, sans-serif ;
}
.buttons{
    display: flex;
    flex-direction: column;
    padding: 1rem auto;
}
main a{
    margin: 0.5rem  ;
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: 0;
    color:hsl(0, 0%, 100%) ;
    background-color:hsl(0, 0%, 20%) ;
    font-family:Inter-semibold,Arial, Helvetica, sans-serif ;
    font-size: 12px;
    text-decoration: none;
}
main a:hover{
    background-color:hsl(75, 94%, 57%);
    cursor: pointer;
    color:hsl(0, 0%, 8%) ;
}
@media(max-width:24rem){
    .container{
        padding: 1rem;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
